In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras

2023-09-18 18:54:57.413309: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-09-18 18:55:00.448337: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-09-18 18:55:00.450800: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-09-18 18:55:05.784148: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
# Carga el archivo CSV
data = pd.read_csv('PARAMETROS_FINALES_CRUDOS.csv')

In [3]:
data.head()

,CLOROF_A,COLI_FEC,COLI_TOT,E_COLI,COT,COT_SOL,DBO_SOL,DBO_TOT,DQO_SOL,DQO_TOT,...,TURBIEDAD,TEMP_AMB,PROFUNDIDAD,CAUDAL,DUR_TOT,TEMP_AGUA,CONDUC_CAMPO,pH_CAMPO,OD_%,OD_mg/L
0,NaN,24196.0,24196.0,NaN,2.3560,2.3500,3.33,6.63,12.6,18.0872,...,46.0,35.3,NaN,430.0,303.3400,24.6,1200.0,8.20,83.7,5.26
1,NaN,24196.0,24196.0,24196.0,8.3441,6.4727,2.73,4.11,15.5,27.8784,...,60.0,26.7,NaN,420000.0,222.9984,24.3,677.0,7.97,85.8,7.21
2,NaN,24196.0,24196.0,3654.0,8.1953,6.1425,4.97,6.65,10.0,16.1600,...,30.0,34.6,NaN,180.0,224.4432,25.8,479.0,8.02,89.8,7.31
3,NaN,24196.0,24196.0,776.0,7.6502,4.0415,2.00,2.34,10.0,10.0000,...,40.0,NaN,NaN,5.0,414.9600,29.9,930.0,8.05,94.3,7.07
4,NaN,663.0,12997.0,109.0,9.4452,3.0909,2.00,2.33,10.0,25.4700,...,5.5,37.4,NaN,5.0,298.9900,33.1,1170.0,8.27,127.6,9.06

In [26]:
print(data.shape)

(6162, 34)

In [27]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 34 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CLOROF_A       2749 non-null   float64
 1   COLI_FEC       6066 non-null   float64
 2   COLI_TOT       3138 non-null   float64
 3   E_COLI         3994 non-null   float64
 4   COT            6089 non-null   float64
 5   COT_SOL        6013 non-null   float64
 6   DBO_SOL        3931 non-null   float64
 7   DBO_TOT        4007 non-null   float64
 8   DQO_SOL        3915 non-null   float64
 9   DQO_TOT        3995 non-null   float64
 10  N_NH3          6147 non-null   float64
 11  N_NO2          6153 non-null   float64
 12  N_NO3          6141 non-null   float64
 13  N_ORG          6141 non-null   float64
 14  N_TOT          6111 non-null   float64
 15  N_TOTK         6130 non-null   float64
 16  P_TOT          6111 non-null   float64
 17  ORTO_PO4       6109 non-null   float64
 18  COLOR_VER      6074 non-null   float64
 19  TRANSPARENCIA  2573 non-null   float64
 20  ABS_UV         5976 non-null   float64
 21  SDT            6049 non-null   float64
 22  SAAM           2716 non-null   float64
 23  SST            6138 non-null   float64
 24  TURBIEDAD      6141 non-null   float64
 25  TEMP_AMB       6063 non-null   float64
 26  PROFUNDIDAD    2380 non-null   float64
 27  CAUDAL         3076 non-null   float64
 28  DUR_TOT        3984 non-null   float64
 29  TEMP_AGUA      5941 non-null   float64
 30  CONDUC_CAMPO   6108 non-null   float64
 31  pH_CAMPO       6067 non-null   float64
 32  OD_%           5905 non-null   float64
 33  OD_mg/L        5912 non-null   float64
dtypes: float64(34)
memory usage: 1.6 MB
None

In [4]:
data.describe()

,CLOROF_A,COLI_FEC,COLI_TOT,E_COLI,COT,COT_SOL,DBO_SOL,DBO_TOT,DQO_SOL,DQO_TOT,...,TURBIEDAD,TEMP_AMB,PROFUNDIDAD,CAUDAL,DUR_TOT,TEMP_AGUA,CONDUC_CAMPO,pH_CAMPO,OD_%,OD_mg/L
count,2749.000000,6.066000e+03,3.138000e+03,3.994000e+03,6089.000000,6013.000000,3931.000000,4007.000000,3915.000000,3995.000000,...,6141.000000,6063.000000,2380.000000,3076.000000,3984.000000,5941.000000,6108.000000,6067.000000,5905.000000,5912.000000
mean,14.501710,6.838781e+04,1.557473e+05,8.396380e+04,5.331473,4.092796,4.835617,9.543517,19.964838,42.147475,...,31.046526,30.975155,7.003206,12806.168171,183.883866,28.596106,18832.347128,8.109654,94.245740,7.162119
std,36.562313,9.767650e+05,1.529181e+06,1.022876e+06,8.710750,6.285932,13.176105,27.447466,32.672916,74.957520,...,94.697087,4.004777,10.471952,45653.234151,220.226199,3.613518,27530.644162,0.464756,30.437776,2.308761
min,0.100000,1.000000e+00,1.000000e+00,1.000000e+00,0.066000,0.063200,2.000000,2.000000,10.000000,10.000000,...,0.200000,2.900000,0.000000,0.000000,22.650000,16.300000,26.300000,0.200000,10.000000,1.000000
25%,0.100000,2.990000e+02,4.884000e+03,1.775000e+01,0.826000,0.480000,2.000000,2.000000,10.000000,10.000000,...,3.100000,28.100000,0.840000,413.125000,76.750000,26.000000,231.000000,7.805000,80.100000,6.040000
50%,5.160000,1.722000e+03,1.413600e+04,1.065000e+02,3.347000,2.849100,2.000000,2.000000,10.000000,20.000000,...,7.400000,31.000000,1.970000,1663.500000,118.185000,29.100000,744.500000,8.100000,95.900000,7.300000
75%,14.480000,8.664000e+03,2.419600e+04,8.252500e+02,5.531000,4.601000,2.610000,5.100000,14.335000,38.445000,...,23.000000,34.000000,8.225000,7626.975000,210.496750,31.500000,47400.000000,8.400000,108.700000,8.400000
max,628.408000,2.419600e+07,2.419600e+07,2.419600e+07,148.748000,109.068000,315.950000,513.950000,562.800000,1849.200000,...,2300.000000,44.500000,40.000000,980000.000000,3622.996000,39.600000,148300.000000,10.000000,281.300000,21.660000

In [5]:
#seleccionar la columna numero 31 del dataset   
data.iloc[:,31]

0       8.20
1       7.97
2       8.02
3       8.05
4       8.27
        ...
6157    8.50
6158    8.20
6159    8.10
6160    8.10
6161    9.20
Name: pH_CAMPO, Length: 6162, dtype: float64

In [6]:
# Elimina registros vacíos solo en la columna 31
data_cleaned = data.dropna(subset=[data.columns[31]])

In [7]:
print (data.shape)
print (data_cleaned.shape)

(6162, 34)
(6067, 34)

In [11]:
print(data_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6067 entries, 0 to 6161
Data columns (total 34 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CLOROF_A       2662 non-null   float64
 1   COLI_FEC       5973 non-null   float64
 2   COLI_TOT       3136 non-null   float64
 3   E_COLI         3907 non-null   float64
 4   COT            5995 non-null   float64
 5   COT_SOL        5918 non-null   float64
 6   DBO_SOL        3843 non-null   float64
 7   DBO_TOT        3919 non-null   float64
 8   DQO_SOL        3827 non-null   float64
 9   DQO_TOT        3907 non-null   float64
 10  N_NH3          6052 non-null   float64
 11  N_NO2          6058 non-null   float64
 12  N_NO3          6046 non-null   float64
 13  N_ORG          6046 non-null   float64
 14  N_TOT          6016 non-null   float64
 15  N_TOTK         6035 non-null   float64
 16  P_TOT          6016 non-null   float64
 17  ORTO_PO4       6014 non-null   float64
 18  COLOR_VER      5979 non-null   float64
 19  TRANSPARENCIA  2485 non-null   float64
 20  ABS_UV         5881 non-null   float64
 21  SDT            5958 non-null   float64
 22  SAAM           2714 non-null   float64
 23  SST            6043 non-null   float64
 24  TURBIEDAD      6046 non-null   float64
 25  TEMP_AMB       5973 non-null   float64
 26  PROFUNDIDAD    2376 non-null   float64
 27  CAUDAL         3073 non-null   float64
 28  DUR_TOT        3896 non-null   float64
 29  TEMP_AGUA      5856 non-null   float64
 30  CONDUC_CAMPO   6017 non-null   float64
 31  pH_CAMPO       6067 non-null   float64
 32  OD_%           5898 non-null   float64
 33  OD_mg/L        5905 non-null   float64
dtypes: float64(34)
memory usage: 1.6 MB
None

In [12]:
print(data_cleaned.describe())

          CLOROF_A      COLI_FEC      COLI_TOT        E_COLI          COT  \
count  2662.000000  5.973000e+03  3.136000e+03  3.907000e+03  5995.000000
mean     14.155437  6.940546e+04  1.558436e+05  8.583112e+04     5.300618
std      36.881750  9.843065e+05  1.529664e+06  1.034127e+06     8.765868
min       0.100000  1.000000e+00  1.000000e+00  1.000000e+00     0.066000
25%       0.100000  2.990000e+02  4.884000e+03  2.000000e+01     0.781550
50%       4.893200  1.723000e+03  1.413600e+04  1.090000e+02     3.303000
75%      13.779000  8.664000e+03  2.419600e+04  8.830000e+02     5.446050
max     628.408000  2.419600e+07  2.419600e+07  2.419600e+07   148.748000

           COT_SOL      DBO_SOL      DBO_TOT      DQO_SOL      DQO_TOT  ...  \
count  5918.000000  3843.000000  3919.000000  3827.000000  3907.000000  ...
mean      4.068834     4.859556     9.627039    19.962865    42.251647  ...
std       6.326571    13.322059    27.742349    32.999187    75.733153  ...
min       0.063200     2.000000     2.000000    10.000000    10.000000  ...
25%       0.424200     2.000000     2.000000    10.000000    10.000000  ...
50%       2.792450     2.000000     2.000000    10.000000    19.500000  ...
75%       4.534575     2.505000     5.020000    13.718000    38.165000  ...
max     109.068000   315.950000   513.950000   562.800000  1849.200000  ...

         TURBIEDAD     TEMP_AMB  PROFUNDIDAD         CAUDAL      DUR_TOT  \
count  6046.000000  5973.000000  2376.000000    3073.000000  3896.000000
mean     31.208675    30.936582     7.010871   12818.365855   184.241848
std      95.251381     3.995251    10.478745   45673.848475   218.190401
min       0.200000     2.900000     0.000000       0.000000    22.650000
25%       3.100000    28.000000     0.840000     414.800000    76.030000
50%       7.500000    31.000000     2.000000    1670.000000   118.235000
75%      23.000000    34.000000     8.332500    7629.900000   212.583250
max    2300.000000    44.500000    40.000000  980000.000000  3622.996000

         TEMP_AGUA   CONDUC_CAMPO     pH_CAMPO         OD_%      OD_mg/L
count  5856.000000    6017.000000  6067.000000  5898.000000  5905.000000
mean     28.582555   19085.607373     8.109654    94.213886     7.159504
std       3.622702   27633.763857     0.464756    30.427239     2.307670
min      16.300000      26.300000     0.200000    10.000000     1.000000
25%      25.900000     232.000000     7.805000    80.100000     6.040000
50%      29.100000     775.000000     8.100000    95.900000     7.300000
75%      31.500000   48000.000000     8.400000   108.700000     8.400000
max      39.600000  148300.000000    10.000000   281.300000    21.660000

[8 rows x 34 columns]

In [13]:
#seleccionar la columna numero 31 del dataset   
data_cleaned.iloc[:,31]

0       8.20
1       7.97
2       8.02
3       8.05
4       8.27
        ...
6157    8.50
6158    8.20
6159    8.10
6160    8.10
6161    9.20
Name: pH_CAMPO, Length: 6067, dtype: float64

In [ ]:

# Separa las características (X) de la variable objetivo (y)
X = data.drop('variable_objetivo', axis=1)
y = data['variable_objetivo']

# Divide los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Escala las características para normalizarlas
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1, activation='linear')  # Ajusta la función de activación según el tipo de problema (regresión, clasificación, etc.)
])

# Compila el modelo
model.compile(optimizer='adam', loss='mean_squared_error')  # Cambia la función de pérdida según tu problema

# Resumen del modelo
model.summary()

In [ ]:
# Entrena el modelo
history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2)

# Evalúa el modelo en el conjunto de prueba
loss = model.evaluate(X_test, y_test)
print("Pérdida en el conjunto de prueba:", loss)

In [ ]:
# Realiza predicciones en el conjunto de prueba
predictions = model.predict(X_test)

# Puedes utilizar las predicciones para tomar decisiones o evaluar el rendimiento del modelo